<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ document.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit/style.css' %} ">
</head>
<body>
{% if latest_documents %}
    <p>Document{{ latest_documents|length|pluralize }}:</p>
    <ul>
    {% for document in latest_documents %}
        <li>
            <a href="{% url 'edit' document.id %}">
                [{{ document.last_modified }}] - {{ document.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p> No documents are available. </p>
{% endif %}

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</body>